# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Datasets (IMPORTANT)
dataset/
datasets/
data/
*.csv
*.tsv
*.json
*.parquet
*.zip

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
